
main{
    background-color: rgb(216, 218, 219);
    margin: 10px;
}
.task{
    font-size: 25px;
    font-weight: bolder;
}
.list{
    font-weight: bolder;
    font-size: 25px;
    color: rgb(32, 48, 185);
}
.task-list{
    margin-left: 160px;
    margin-top: 20px;

}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    gap: 20px;
    margin: 10px 60px 5px 60px;

   
}
.main{
    margin: 10px 150px 0px 150px;
    background-color: white;

}
.grid div{
    border: black 2px solid;
    height: 270px;
    width: 200px;
    border-top: none;
    animation: bg 5s infinite;
    
    }
    .list1:hover{
        transform: scale(1.03);
        box-shadow: 10px 10px 10px 10px gray;
        
    }

@keyframes bg{
    0%{
        background-color: aliceblue;
    }
    25%{
        background-color: beige;

    }
    50%{
        background-color: aquamarine;
    }
    100%{
        background-color: aqua;
    }
}
.grid div h2{
    background-color: rgb(229, 255, 0);
    margin: 0%;
    margin-bottom: 10px;
    height: 50px;
    text-align: center;
    border-top: #2e08d6 4px solid;
}
.heading{
   display: flex;
  justify-content: flex-end;

}
.heading div{
   float: left;
    margin-top: 10px;
   margin-right: 100px;
   font-weight: bolder;
   font-size: 24ps;

 
  
}
img{
    border-radius: 50%;
    margin-bottom: -13px;
   
}
.new-task{
    text-shadow: 5px 5px 5px rgb(59, 58, 58) ;
    font-size: 24px;
}